.app-container {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 800px;
}
.post-card {
  margin: 20px 50px;
  cursor: pointer;
}
.no-caret {
  caret-color: transparent;
  pointer-events: none;
  user-select: none;
}
.reactions {
  margin: 10px 0 0 0;
}
